* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 250px;
  height: 100%;
  background: #fff;
  padding: 30px 30px;
  position: fixed;
  transition: transform 0.3s ease-in-out;
}

.wrapper .sidebar img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a {
  color: black;
  display: block;
}

.wrapper .sidebar ul p {
  color: gray;
  display: block;
  padding: 10px;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: black;
  color: white;
  border: 1px;
  border-radius: 3px;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 250px;
}

.wrapper .main_content .header {
  padding: 20px;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .header i {
  font-size: 24px;
  cursor: pointer;
  margin-left: 1000px;
}

.wrapper .main_content .info {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrapper .main_content .info .welcome {
  color: black;
  background-color: white;
  padding: 10px;
  border: 4px;
  border-color: #717171 ;
  border-radius: 6px;
  width: 520px;
  height: 325px;
}

.wrapper .main_content .info .welcome button {
  background: #6F00FF;
  background-image: -webkit-linear-gradient(top, #6F00FF, #6F00FF);
  background-image: -moz-linear-gradient(top, #6F00FF, #6F00FF);
  background-image: -ms-linear-gradient(top, #6F00FF, #6F00FF);
  background-image: -o-linear-gradient(top, #6F00FF, #6F00FF);
  background-image: linear-gradient(to bottom, #6F00FF, #6F00FF);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-top: 70px;
  text-decoration: none;
}

.wrapper .main_content .info .YouTube {
  color: black;
  background-color: white;
  padding: 10px;
  border: 4px;
  border-color: #717171 ;
  border-radius: 6px;
  width: 520px;
  height: 325px;
}

.wrapper .main_content .overlay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .main_content .overlay .mejban {
  color: black;
  background-color: white;
  padding: 10px;
  border: 3px solid #22C55E;
  border-radius: 6px;
  text-align: center;
  width: 330px;
  height: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.wrapper .main_content .overlay .mejban img{
 width: 330px;
 height: 830px;
  
}

.wrapper .main_content .overlay .mejban h1,
.wrapper .main_content .overlay .mejban p,
.wrapper .main_content .overlay .mejban button {
  margin-bottom: 10px;
}

.wrapper .main_content .overlay .mejban button {
  background: #06284B;
  background-image: -webkit-linear-gradient(top, #06284B, #06284B);
  background-image: -moz-linear-gradient(top, #06284B, #06284B);
  background-image: -ms-linear-gradient(top, #06284B, #06284B);
  background-image: -o-linear-gradient(top, #06284B, #06284B);
  background-image: linear-gradient(to bottom, #06284B, #06284B);
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}


.wrapper .main_content .overlay .mejban h1 {
  margin-bottom: 10px;
}

.wrapper .main_content .overlay .mejban p {
  margin-bottom: 20px;
}

.wrapper .main_content .overlay .mejban button {
  background: #06284B;
  background-image: -webkit-linear-gradient(top, #06284B, #06284B);
  background-image: -moz-linear-gradient(top, #06284B, #06284B);
  background-image: -ms-linear-gradient(top, #06284B, #06284B);
  background-image: -o-linear-gradient(top, #06284B, #06284B);
  background-image: linear-gradient(to bottom, #06284B, #06284B);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.responsive-iframe-container {

  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}

.responsive-iframe-container iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.drawer-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}







@media (max-width: 768px) {
  .wrapper .sidebar {
    transform: translateX(-250px); 
  }

  .wrapper .sidebar.active {
    transform: translateX(0);
  }

  .wrapper .main_content {
    margin-left: 0;
  }

  .drawer-toggle {
    display: block;
  }

  .wrapper .main_content .header i {
    font-size: 24px;
    cursor: pointer;
    margin-left: 0px;
  }

  .wrapper .sidebar img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: 50px;
  }

  .wrapper .main_content .info {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: small;
    text-align: center;
  }

  .wrapper .main_content .info .welcome {
    color: black;
    background-color: white;
    border: 4px;
    border-color: #717171;
    border-radius: 6px;
    width: 100%;
  }

  .wrapper .main_content .info .YouTube {
    width: 100%;
    height: 150px;
  }

  .wrapper .main_content .overlay {
    grid-template-columns: 1fr;
  }
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
  .wrapper .main_content .overlay .mejban {
    color: black;
    background-color: white;
    padding: 10px;
    border: 3px solid #22C55E;
    border-radius: 6px;
    text-align: center;
    width: 330px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .wrapper .main_content .overlay .mejban::before {
    content: '';
    background: url('./images/wb logo.png') no-repeat center center;
    background-size: cover;
    position: absolute;
  
    width: 200px;;
    height: 100px;
    opacity: 0;
    border: none;
    border-radius: 9999px;
    transition: opacity 0.3s ease-in-out;
    border-radius: 6px;
  }
  .wrapper .main_content .overlay .mejban img{
    width: 400px;
    height: auto;
     
   }
   
}
